html, body, #map-canvas, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;

    font-family: Verdana;
}

body {
    padding:5px;
}

.container-fluid {
    /*display: flex;*/
    width: 100%;
}

#map-canvas {
    float:left;
    width: 75%;
}

#right {
    /*flex-grow:1;*/
    float:right;
    width:25%;
}

/* Hover Window Related Stuff */
#hoverwindow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    padding:3px;
    border: 2px solid black;
    display:none;
    text-align:right;
    font-size: 70%;
    max-width:25%;
}
#hoverwindow span {
    font-weight:bold;
    padding:4px;
}
#hoverwindow table {
    width:100%;
}
#hoverinfo {
    text-align: left;
}
#infoWindowTitle {
    font-size: 125%;
    font-weight: bold;
    padding-bottom: 10px;
}