#topbar {
    float:left;
    position: absolute;
    top: 0;
    left: 0;
}
#topbar p{
    margin-left: 2%;
}



.planningvertical {
    transform: rotate(270deg) translate(15%, 0px);
}
.planningred {
    background-color: red;
    border-bottom: 15px solid white;
    border-top: 15px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
}
.planninggreen {
    text-align: center;
}