<!DOCTYPE html>

<html>

<head>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />

    <!-- http://jquery.com/ -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- app's own CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />

    <!-- https://developers.google.com/maps/documentation/javascript/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key | urlencode }}&v=3.exp"></script>

    <!-- Script for charting the Altidude/Time and Speed/Time graphs -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- http://stewartjpark.com/Flask-JSGlue/ -->
    {{ JSGlue.include() }}

    <!-- app's own JavaScript -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

    <title>VATSee</title>
</head>

<body>
    <!-- top log in and logo bar -->
    <div id="topbar"><span>VATSee</span></div>

    <!-- invisible hover window -->
    <div id="hoverwindow">
        <img id="infoclose" src="https://images.marksandspencerme.com/wcsstore/FashionStorefrontAssetStore/images/colors/color1/close_normal.png" />
        <div id="hoverinfo"></div>
    </div>

    <!-- holds main content -->
    <div class="container-fluid">

        <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
        <div id="map-canvas"></div>

        <!-- holds right details pane -->
        <div id="right">
            <div id="navigation-bar">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="content-buttons" id="home" class="active"><a href="#">Home</a></li>
                    <li class="content-buttons" id="online"><a href="#">Online</a></li>
                    <li class="content-buttons" id="planning"><a href="#">Plan</a></li>
                    <li class="content-buttons" id="wx"><a href="#">Wx</a></li>
                    <li class="content-buttons" id="events"><a href="#">Events</a></li>
                    <li class="content-buttons" id="preferences"><a href="#">Options</a></li>
                    <li class="content-buttons" id="enroute"><a href="#">Enroute</a></li>
                </ul>
            </div>

            <!-- Holds selected point and enroute information -->
            <div id="home" class="content-div">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" id="loadinggif" />

                <div id="selectedpointinfo">
                    <h2 id="poitext">Selected Point</h2>
                    <p id="help">Click on a plane or airport to show more information here!</p>

                    <div id="selectedairport">
                        <h4>Arrivals</h4>
                        <table id="selectedarrivals">
                            <thead>
                                <tr>
                                    <td>Flight #</td>
                                    <td>Origin</td>
                                    <td>Dist. (km)</td>
                                    <td>Alt (ft)</td>
                                    <td>Speed (kts)</td>
                                    <td>Heading</td>
                                    <td>Aircraft</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Will be populated by JS -->
                            </tbody>
<!--                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" id="loadinggif" /> -->
                        </table>

                        </br>
                        <h4>Departures</h4>
                        <table id="selecteddepartures">
                            <thead>
                                <tr>
                                    <td>Flight #</td>
                                    <td>Dep Time</td>
                                    <td>Dest</td>
                                    <td>Dist (km)</td>
                                    <td>Alt (ft)</td>
                                    <td>Spd (kts)</td>
                                    <td>Hdg</td>
                                    <td>A/crft</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Will be populated by JS -->
                            </tbody>
                        </table>

                        </br>
                        <h4>ATC</h4>
                        <div id="selectedatcdata">
                            <!-- populated by JS -->
                        </div>

                    </div>
                    
                    <!--
                    <br />For a plane, show Flightaware type summary
                    <br />for airport, delay, how many : (on ground, taxiing, within 15 nm)</p> -->
                    <div id="selectedplane">
                        <div id="selectedplaneleft">
                            <!-- Departure ICAO, City-->
                            <span class="deparricao"></span>
                            <span class="deparrname"></span>
                            <span class="deparrtime"></span>
                        </div> 
                        <div id="selectedplaneright">
                            <!-- Arrival ICAO, City-->
                            <span class="deparricao"></span>
                            <span class="deparrname"></span>
                        </div>
                        
                        <div id="selectedplaneinfo">
                            <h4>Progress</h4>
                            <div id="selectedprogbar">
                                <div id="selectedprog"></div>
                                <span><!-- Show total distance, distance to go, distance elapsed--></span>
                            </div>
                            
                            <h4>Airline and Airport</h4>
                            <p id="selectedalt">Alternate</p>
                            <p id="selectedflightnum"><!-- Populated by JS --></p>
                            <p id="selectedaircraft"><!-- Populated by JS --></p>
                            <p id="selectedairline"><!-- Populated by JS --></p>
                            <p id="selectedairlinecountry"><!-- Populated by JS --></p>
                            
                            <h4>Flight Data</h4>
                            <p id="selectedspeed"></p>
                            <p id="selectedheading"></p>
                            <p id="selectedaltitude"><!-- current and filed --></p>
                            <p id="selectedroute"></p>
                            <p id="selectedposition"></p>
                            <p id="selectedflyingover"></p>

                            <h4>Pilot</h4>
                            <p id="selectedpilotcid"></p>
                            <p id="selectedpilotlogontime"></p>
                        </div>
                        <div id="selectedplanehistory">
                            <!-- table of history (or graph?) of SPEED, ALTITUDE, -->
                        </div>
                    </div>

                </div>
            </div>

            <div id="online" class="content-div">
                <h4>Filter</h4>
                <!-- Filter options -->
                <label for="filtertext">Type to filter ATC and pilots</label>
                <br /><input id="filtertext" type="text">
                
                <label for="filterATC">Show: ATC Aiports</label>
                <input type="checkbox" id="filterATC" name="filterATC" class="filtercheckbox" value="ATC Airports" checked>
                <label for="filterpilot">Pilots</label>
                <input type="checkbox" id="filterpilot" name="filterpilot" class="filtercheckbox" value="Pilots" checked>
                
                <h4>Currently Online ATC</h4>
                <!-- content tables -->
                <table id="tablefilterATC">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Callsign</td>
                            <td>Frequency</td>
                            <td>Controller</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                
                <br />
                
                <h4>Currently Online Pilots</h4>
                <table id="tablefilterpilot">
                    <thead>
                        <tr>
                            <td>Callsign</td>
                            <td>Name</td>
                            <td>Departure</td>
                            <td>Arrival</td>
                            <td> </td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
  
            </div>

            <div id="wx" class="content-div">
                <h4>Weather</h4>
                <label for="metarquery">Search for METAR (ICAO code)</label>
                <br /><input id="metarquery" type="text">  <button type="button" id="get_metar">Get METAR</button>
                
                <div id="metarresults">
                    <p>METAR for: <span id="metarresults_stationID"></span></p>
                    
                    <span id="metarresults_category"></span>
                    
                    <span id="metarresults_rawtext"></span>
                    <a href="#" onclick="document.getElementById('metarresults_rawtext').hide();">Hide Raw</a>
                    
                    <table>
                        <tr>
                            <td>Issued</td><td><span id="metarresults_time"></span></td>
                        </tr>
                        <tr>
                            <td>Wind</td><td><span id="metarresults_winddirspeed"></span></td>
                        </tr>
                        <tr>
                            <td>Clouds</td><td><span id="metarresults_clouds"></span></td>
                        </tr>
                        <tr>
                            <td>Visibility</td><td><span id="metarresults_visibility"></span></td>
                        </tr>
                        <tr>
                            <td>Temperature</td><td><span id="metarresults_tempdewpoint"></span></td>
                        </tr>
                        <tr>
                            <td>Altimeter/QNH</td><td><span id="metarresults_altimeter"></span></td>
                        </tr>
                        <tr>
                            <td>Sea Level Pressure</td><td><span id="metarresults_sealevelpressure"></span></td>
                        </tr>
                    </table>
                </div>

                <!-- 
                <p><strong>Bad weather</strong>
                    <br/>At ATC'd airpots
                    <br/>worst weather - wind, gust, cloud. rain, etc. Use Python METAR packages for this task.</p>
                    
Bad weather 
At ATC'd airpots 
worst weather - wind, gust, cloud. rain, etc. Use Python METAR packages for this task.


(show VFR vs IFR) - especially on Clicked airports (also show METAR on clicked airports 
Plus allow searching for METAR at a given airport
-->

            </div>


            <div id="planning" class="content-div">
                <p>PLANNING</p>
                <p>plan a real world flight
                    <br />On right side, have dropdown for equipment, desired duration/time (preference for Arrival vs. Departure ATC)
                    <br />If logged in, populate with Users' "owned planes"

                    <br />It looks at current ATC'd airports' arrivals and departures with given equipment and duration.
                    <br />Ranks those routes, based on how muhc ATC there is with SCORE. REturn sorted list
                    <br />Real world route (from FA), callsign, number, duration, avg delay, gate, etc. Links to file flightplan, links to liveries.
            </div>


            <div id="events" class="content-div">
                <p>EVENTS</p>
                <br />events on VATSIM/VATUSA page, EUD API has something too
                <br />(if ATC message says "Online until XXXX zulu" take that into consideration)
            </div>

            <div id="preferences" class="content-div">
                <p>show incoming flights on hover
                    <br />units (nm/km/miles, kmph/mph/kts, C/F, ft/m etc.)</p>

                <p>VIEW OPTIONS
                    <br />Select airport
                    <br />Show arrivals only
                    <br />Show departures only
                    <br />Show all
                    <br />Airborne only/ground/all flights
                    <br />Airline - filter by airline</p>
            </div>
            
            <div id="enrouteinfo" class="content-div">
                <h2>Enroute</h2>
                <p>if LOGGED IN, show current plane, location, speed, direction, etc.
                    <br />LINKS to current airport's METAR, airport diagram, ILS freq, runway heading, chartsetc.</p>
            </div>
        </div>
        <!-- http://getbootstrap.com/css/#forms -->
        <!--            <form id="form">
                <div class="form-group">
                    <label class="sr-only" for="q">City, State, Postal Code</label>
                    <input class="form-control" id="q" placeholder="City, State, Postal Code" type="text"/>
                </div>
            </form> -->
    </div>
</body>

</html>