<!DOCTYPE html>

<html>
    <head>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- app's own CSS -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <!-- https://developers.google.com/maps/documentation/javascript/ -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ key | urlencode }}&v=3.exp"></script>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        {{ JSGlue.include() }}

        <!-- app's own JavaScript -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

        <title>VATSee</title>
    </head>

    <body>
        <!-- top log in and logo bar -->
        <div id="topbar"><span>VATSee</span></div>
        
        <!-- invisible hover window -->
        <div id = "hoverwindow">
            <img id="infoclose" src="https://images.marksandspencerme.com/wcsstore/FashionStorefrontAssetStore/images/colors/color1/close_normal.png" />
            <div id="hoverinfo"></div>
        </div>
        
        <!-- holds main content -->
        <div class="container-fluid">

            <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
            <div id="map-canvas"></div>

            <!-- holds right details pane -->
            <div id="right">
                <div id="rightnav">
                    <ul>
                        <li>Online</li>
                        <li>Planning</li>
                        <li>Weather</li>
                        <li>Events</li>
                        <li>Delay</li>
                        <li>Enroute</li>
                        
                    </ul>
                    <button onclick="removeMarkers();">Click me</button>
                </div>
                
            </div>
            <!-- http://getbootstrap.com/css/#forms -->
<!--            <form id="form">
                <div class="form-group">
                    <label class="sr-only" for="q">City, State, Postal Code</label>
                    <input class="form-control" id="q" placeholder="City, State, Postal Code" type="text"/>
                </div>
            </form> -->
        </div>
    </body>
    
</html>
